body{

}
span{
	text-align: center;
	color: red;
	display: block;
}
.pageAuth{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	height: 730px;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.hautAuth{
	width: 100%;
	height: 17%;
	background-color: rgb(0, 13, 26);
	text-align: center;
	font-family: sans-serif;
	color: white;
}
.LoginForm{
	width: 70%;
	margin-right: 10%;
	margin-left: 15%;
	margin-top: 5%;
	height: 10%;
	background-color:  #20B2AA;
	text-align: left;
	font-family: sans-serif;
	color: white;
}
.formulaire{
	width: 70%;
	margin-right: 10%;
	margin-left: 15%;
	background-color: white;
	height: 50%;
}
b{
	float: right;
	margin-top: -65px;
	font-size: 30px;
	margin-right: 25px;
}
.form-control{
	width: 80%;
	height: 50px;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 5%;
	border-color:  #20B2AA;
	background: url(../images/icones/ic-login.png) no-repeat right;
}
.form-control1{
	width: 80%;
	height: 50px;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 5%;
	border-color:  #20B2AA;
	background: url(../images/icones/ic-password.png) no-repeat right;
}
.btn-connexion{
	margin-top: 10px;
	width: 30%;
	float: left;
	background-color:  #20B2AA;
	height: 50px;
	margin-left: 10%;
	color: white;
	font-family: sans-serif;
}
.form-image{
	width: 20%;
	height: 32px;
	margin-left: 5%;
	margin-right: 2%;
	margin-top: 3px;
	background-color: #0086b3;
}

h5 a{
	margin-left: 30px;
	text-decoration: none;
	color:  grey;
	font-size: 15px;
}
.logo{
	float: left;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
}
.logo img{
	width: 100px; 
	height: 120px;
}

.CompteUser{
	width: 90%;
	margin: 0 auto;
	margin-right: 5%;
	margin-left: 5%;
	background-color: #fff;
	height: 570px;
	margin-top: 3px;
}
.avatar{
	float: right;
	border-color: #0086b3;
	width: 200px;
	height:200px;
	margin-top: -40%;
	border-radius: 100px;
	margin-right: 5%;
}
.avatar img{
	width: 200px; 
	height: 200px; 
	border-radius: 100%;
}
.avatar h4{
	margin-left: 35px;
}
label {
	display: block;
	font-size: 0.9em;
	font-weight: 400;
	margin: 0 0 0 0;
	margin-left: 5%;
}
.btn-inscription{
	margin-top: 10px;
	width: 20%;
	float: left;
	background-color:  #20B2AA;
	height: 50px;
	margin-left: 5%;
	color: white;
}

.form-inscription{
	width: 40%;
	height: 32px;
	margin-left: 5%;
	margin-right: 2%;
	margin-top: 10px;
	border-color: #0086b3;
}
/*admin**********************************************************************/
.pageAdmin{
	margin-top: 5px;
	width: 96%;
	margin-left: 2%;
	background-color:silver;
	height: 601px;
}
.haut{
	margin-top: 5px;
	width: 100%;
	height: 80px;
	background-color:  #20B2AA;
	margin-top: 5px;
	text-align: center;
	color: #fff;
}
.page-droite{
	width: 60%;
	margin: 0 auto;
	margin-right: 2%;
	float: right;
	background-color: #fff;
	height: 498px;
	margin-top: 15px;
	border-radius: 10px;
}
.page-droite strong{
	color: #20B2AA;
}
.menu-side{
	margin-left: 0%;
	margin-top: 30px;
	width: 35%;
	height: 400px;
	background-color: #fff;
	float: left;
	border-radius: 5px;
}
.infoAdmin{
	width: 100%;
	height: 150px;
	background-color: #20B2AA; 
}
.avatarAdmin{
	float: right;
	border-color: #0086b3;
	width: 200px;
	height:200px;
	margin-top: -50%;
	border-radius: 100px;
	margin-right: 2%;
	border-color: #0086b3;
} 
.avatarAdmin h4{
	margin-left: 50px;
}
.avatarAdmin img{
	width: 200px; 
	height: 200px; 
	border-radius: 100%;
}
.picture{
	float: left;
	width: 100px;
	margin-top: 20px;
	height:100px;
	border-radius: 100px;
	margin-left: 3%;
	border-color: red;
	background-color: red;
}
i{
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	text-align: center;
	margin-top: 35px;
	float: left;
	margin-left: 8px;
}

.picture img{
	position: relative;
	width: 100px;
	height:100px; 
}
.photoJoueur  img{
	position: relative;
	width: 60px;
	height:60px;
	border-radius: 100px;
}
.photoJoueur{
	float: left;
	width: 60px;
	height:60px;
	margin-top: 10px;
	border-radius: 100px;
	margin-left: 1%;
	border-color: red;
	background-color: red;

}
label {
	color: blue;
	display: block;
	font-size: 0.9em;
	font-weight: 400;
	margin: 0 0 0 0;
	margin-left: 5%;
}
.btn-admin{
	margin-top: 0px;
	width: 20%;
	float: left;
	background-color:  #20B2AA;
	height: 50px;
	margin-left: 2%;
	color: white;
}
.btn-deconnexion{
	margin-top: -68px;
	width: 20%;
	margin-right: 3px;
	float: right;
	background-color: #20B2AA;
	height: 50px;
	color: white;
}

.form-admin{
	width: 50%;
	height: 32px;
	margin-right: 5%;
	margin-left: 2%;
	margin-top: 3px;
	border-color: #0086b3;
}

/************MENU****************/

.vertical-menu {
  width: 100%; /* Set a width if you like */
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: burlywood; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: blue; /* Add a green color to the "active/current" link */
  color: white;
}
.icone{
	float: right;
}

.form{
	margin-top: 3px;
	border-color:  #20B2AA;
	width: 25%;
	height: 35px;
	margin-left: 5%;
}
.btn-ok{
	background-color:  #20B2AA;
	width: 50px;
	height: 35px;
	color: #fff;
}
.btn-delete{
	width: 20px;
	height: 25px;
	background-image: url(../images/icones/ic-supprimer.png);
	background-repeat: no-repeat;
}
strong{
	text-align: center;
	margin-left: 25%;

}
.align{
	line-height: 60px;
}
.align1{
	line-height: 100px;
}
.liste{
	width: 96%;
	margin-top: 1px;
	margin-left: 2%;
	height: 400px;
	border-style:double;
	border-color: burlywood;
}
.liste li{
	list-style-type: none;
	margin-bottom:5px;
	margin-left: 35px;
}
.listeJoueur{
	width: 96%;
	margin-top: 2px;
	margin-left: 2%;
	height: 400px;
	border-style:double;
	border-color:  #20B2AA;
	border-radius: 13px;
}
.btn-suivant{
	float: right;
	margin-top: 3px;
	margin-right: 4px;
	background-color:   #20B2AA;
	width: 25%;
	height: 30px;
}
.questionnaire{
	width: 96%;
	margin-top: 2px;
	margin-left: 2%;
	height: 470px;
	border-style:double;
	border-color:  #20B2AA;
	border-radius: 13px;
}

textarea{
	width: 90%;
	height: 90px;
	border-color:   #20B2AA;
	margin-left: 5%;
}
select{
	width: 85%;
	height: 35px;
	border-color:   #20B2AA;
	margin-left: 5%;
}
.btn-add{
	background-color: ;
	width: 40px;
	height: 35px;
	background-image: url(../images/icones/add.png);
	background-repeat: no-repeat;
}
.btn-enregistrer{
	float: right;
	margin-top: 20px;
	margin-right: 10%;
	background-color:   #20B2AA;
	width: 25%;
	height: 30px;
	color:  #fff;
}
.dynamique{
	width: 92%;
	margin-top: 8px;
	border-color:   #20B2AA;
	margin-left: 5%;
}
.form-dynamique{
	margin-top: 5px;
	width: 89%;
	height: 35px;
	border-color:   #20B2AA;
}
.ReponseJoueur{
	width: 63%;
	margin-top: 10px;
	margin-left: 2%;
	height: 490px;
	background-color: white;
	border-style:dotted;
	border-color:  #20B2AA;
	border-radius: 13px;
}
.TopScorer{
	width: 32%;
	height: 490px;
	margin-top: -48%;
	float: right;
	margin-right: 1%;
	background-color: white;
	border-color:  #20B2AA;
	border-radius: 13px;
}
.top{
	width: 100%;
	background-color: #20B2AA;
	height: 30px;
	margin: 0 auto;

}
a{
	color: #fff;
	padding: 15px;
	text-decoration: none;
}




